.sliderTrack--banner {
  margin-top: 2vh;
  margin-bottom: 50px;
}
.sliderArrows--banner {
  bottom: 0;
  color: aliceblue;
}
.sliderLeftArrow--banner {
  left: 10vw;
}
.sliderRightArrow--banner {
  right: 10vw;
}

.sliderArrows--tablistslider {
  color: aliceblue;
}
