.container {
  background-color: #424242;
  width: 281px;
}
.productNameContainer {
  padding: 0px 10px;
}
.brandName {
  color: #fff;
}
.image {
  border-radius: 0;
}
.sellingPriceContainer {
  color: #4cfc0c;
}
.buyButton {
  margin: 0 10%;
}
.buyButton :global(.vtex-button) {
  color: #000;
  font-size: 0.8em;
}
.description {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 5%;
  padding: 5px;
  color: #4cfc0c;
  background-color: #000;
}
