.sliderTrack--banner {
  margin-bottom: 50px;
}
.sliderArrows--banner {
  bottom: 0;
  color: aliceblue;
}
.sliderLeftArrow--banner {
  left: 10vw;
}
.sliderRightArrow--banner {
  right: 10vw;
}
.sliderTrackContainer--tablistslider {
  background-color: #212121;
}

.sliderArrows--tablistslider {
  color: aliceblue;
}
