.flexRowContent--tab-list {
  background-color: #212121;
}
.flexColChild--bottom-button {
  color: #eef3f7;
  cursor: pointer;
}
.flexRow--bottom-menu {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #212121;
  padding: 10px;
}
